<!DOCTYPE html>
<meta charset="utf-8">
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: auto;
        position: relative;
        width: 960px;
        background: #f2f2f2;
    }

    text {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    form {
        position: absolute;
        right: 10px;
        top: 10px;
    }
</style>
<body>
<script src="../d3.v3.min.js"></script>
<script>
    var rawData = /*data_placeholder*/"\
date,category,value\n\
18/01/2013,Mee,18\n\
19/01/2013,Mee,5\n\
20/01/2013,Mee,3\n\
18/01/2013,Ooo,18\n\
19/01/2013,Ooo,3\n\
20/01/2013,Ooo,11\n\
18/01/2013,GGG,11\n\
19/01/2013,GGG,11\n\
20/01/2013,GGG,11\n\
"/*data_placeholder*/;

    var bus = d3.dispatch("myEvent");
    bus.on("myEvent", function(i) {
        console.log("Hey! my event " + i);
    });
    for (var i = 0; i < 10; i++) {
        bus.myEvent(i);
    }

    var dateFormat = d3.time.format("%d/%m/%Y");
    var valueFormat = function(n) {
        var s = d3.format(",")(n);
        return s.length < 6 ? s : d3.format("s")(n);
    };

    var data = d3.csv.parse(rawData);
    data = d3.nest().key(function (d) { return d["category"]; }).entries(data)
        .map(function (entry) { return entry.values.map(function (d) {
                return {
                    x: dateFormat.parse(d.date),
                    y: parseInt(d["value"]),
                    category: d["category"],
                    y0: 0
                };
            });
        });

    var dataStacked = d3.layout.stack()(data);
    var yStackMax = d3.max(dataStacked, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); });

    var margin = {top: 40, right: 10, bottom: 20, left: 10},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var x = d3.time.scale().nice().rangeRound([0, width]);
    var y = d3.scale.linear().range([height, 0]);
    var xAxis = d3.svg.axis().scale(x).orient("bottom");
    var color = d3.scale.category20();

    var fromDate = d3.min(data, function (d) { return d3.min(d, function (dd) { return dd.x; }); });
    var toDate = d3.max(data, function (d) { return d3.max(d, function (dd) { return dd.x; }); });
    toDate = d3.time.day.offset(toDate, 2);
    x.domain(d3.extent(d3.time.days(fromDate, toDate)));
    y.domain([0, yStackMax]);
    var barWidth = Math.floor((width / d3.time.days(fromDate, toDate).length) - 0.5);

    var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var layer = svg.selectAll(".layer")
            .data(dataStacked)
            .enter().append("g")
            .attr("class", "layer")
            .style("fill", function(d, i) { return color(i); });

    var rect = layer.selectAll("rect")
            .data(function(d) { return d; })
            .enter().append("rect")
            .attr("x", function(d) { return x(d.x); })
            .attr("y", function(d) { return y(d.y0 + d.y); })
            .attr("width", barWidth)
            .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
            .append("title")
            .text(function (d) {
                return "date: " + dateFormat(d.x) + "\n" +
                       "value: " + valueFormat(d.y) + "\n" +
                       "category: " + d["category"];
            });

    svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

</script>
</body>