<!DOCTYPE html>
<meta charset="utf-8">
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: auto;
        position: relative;
        width: 960px;
        background: #f2f2f2;
    }

    text {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    form {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .brush .extent {
        stroke: #fff;
        fill-opacity: .125;
        shape-rendering: crispEdges;
    }
</style>
<body>
<script src="../d3.v3.min.js"></script>
<script>
    var rawData = /*data_placeholder*/"\
date,category,value\n\
18/01/2013,Mee,18\n\
19/01/2013,Mee,5\n\
20/01/2013,Mee,3\n\
21/01/2013,Mee,3\n\
22/01/2013,Mee,3\n\
18/01/2013,Ooo,18\n\
19/01/2013,Ooo,3\n\
21/01/2013,Ooo,11\n\
22/01/2013,Ooo,11\n\
20/01/2013,Ooo,11\n\
18/01/2013,GGG,11\n\
19/01/2013,GGG,11\n\
20/01/2013,GGG,11\n\
21/01/2013,GGG,11\n\
22/01/2013,GGG,11\n\
"/*data_placeholder*/;
    var margin = {top: 40, right: 50, bottom: 20, left: 50};
    var uiConfig = {
        width: 960 - margin.left - margin.right,
        height: 500 - margin.top - margin.bottom,
        margin: margin
    };

    var brushHeight = 50; // TODO
    var svg = d3.select("body").append("svg")
            .attr("width", uiConfig.width + uiConfig.margin.left + uiConfig.margin.right)
            .attr("height", uiConfig.height + uiConfig.margin.top + uiConfig.margin.bottom + brushHeight)
            .append("g")
            .attr("transform", "translate(" + uiConfig.margin.left + "," + uiConfig.margin.top + ")");

    var data = stackedData(rawData);
    var x = xScale(uiConfig);
    var y = yScale(uiConfig);
    var bar = bars(svg, uiConfig, x, y);
    var xAxis = newXAxis(svg, uiConfig, x);
    var yAxis = newYAxis(svg, "Change size", y);
    var brush = newBrush(svg, uiConfig, x);

    data.onUpdate([x.update, y.update, bar.update, xAxis.update, yAxis.update, brush.update]);
    x.onUpdate([bar.onXScaleUpdate, xAxis.onXScaleUpdate]);
    data.sendUpdate();

    function observable(target) {
        var listeners = [];
        target.onUpdate = function(newListeners) {
            listeners = newListeners;
        };
        return function(update) {
            for (var i = 0; i < listeners.length; i++) {
                listeners[i](update);
            }
        };
    }

    function newBrush(root, uiConfig, x) {
        var height = 50;
        var brushXScale = d3.time.scale().nice().rangeRound([0, uiConfig.width]);
        var brush = d3.svg.brush().x(brushXScale);

        brush.update = function() {
            brushXScale.domain(x.domain());
        };
        brush.on("brush", function() {
            var extent = brush.empty() ? brushXScale.domain() : brush.extent();
            x.setDomain(extent);
        });
        var g = root.append("g")
                .attr("transform", "translate(0" + "," + (uiConfig.height + uiConfig.margin.top) + ")");
        g.append("g")
           .attr("class", "x brush")
           .call(brush)
           .selectAll("rect")
           .attr("y", -10) // TODO
           .attr("height", height);

        return brush;
    }

    function bars(root, uiConfig, xScale, yScale) {
        var color = d3.scale.category20();
        var dateFormat = d3.time.format("%d/%m/%Y");
        var valueFormat = function(n) {
            var s = d3.format(",")(n);
            return s.length < 6 ? s : d3.format("s")(n);
        };
        var data;

        function nonZero(length) {
            return (length > 0 ? length : 0.0000001);
        }
        function barWidth() {
            var barWidth = uiConfig.width / nonZero(xScale.amountOfValues);
            barWidth = Math.floor(barWidth);
            barWidth = barWidth < 1 ? 1 : barWidth;
            return barWidth;
        }

        var f = function() {};
        f.update = function(update) {
            data = update.data;

            var layer = root.selectAll(".layer")
                    .data(update.dataStacked)
                    .enter().append("g")
                    .attr("class", "layer")
                    .style("fill", function(d, i) { return color(i); });

            layer.selectAll("rect")
                    .data(function(d) { return d; })
                    .enter().append("rect")
                    .attr("clip-path", "url(#barsClip)")
                    .attr("x", function(d) { return xScale(d.x); })
                    .attr("y", function(d) { return yScale(d.y0 + d.y); })
                    .attr("width", barWidth())
                    .attr("height", function(d) { return yScale(d.y0) - yScale(d.y0 + d.y); })
                    .append("title")
                    .text(function (d) {
                        return "date: " + dateFormat(d.x) + "\n" +
                                "value: " + valueFormat(d.y) + "\n" +
                                "category: " + d["category"];
                    });
        };
        f.onXScaleUpdate = function() {
            var layer = root.selectAll(".layer").data(data);
            layer.selectAll("rect")
               .data(function(d) { return d; })
               .attr("x", function(d) { return xScale(d.x); })
               .attr("width", barWidth());
        };

        root.append("defs").append("clipPath").attr("id", "barsClip")
            .append("rect").attr("width", uiConfig.width).attr("height", uiConfig.height);
        return f;
    }


    function newYAxis(root, label, y) {
        var valueFormat = function(n) {
            var s = d3.format(",")(n);
            return s.length < 6 ? s : d3.format("s")(n);
        };
        var axis = d3.svg.axis().scale(y).orient("left").tickFormat(valueFormat);
        axis.update = function() {
            root.append("g")
                   .attr("class", "y axis")
                   .call(axis)
                   .append("text")
                   .attr("transform", "rotate(-90)")
                   .attr("y", 6)
                   .attr("dy", ".71em")
                   .style("text-anchor", "end")
                   .text(label);
        };
        return axis;
    }

    function newXAxis(root, uiConfig, x) {
        var axis = d3.svg.axis().scale(x).orient("bottom");
        axis.update = function() {
            root.append("g")
                   .attr("class", "x axis")
                   .attr("transform", "translate(0," + uiConfig.height + ")")
                   .call(axis);
        };
        axis.onXScaleUpdate = function() {
            root.select(".x.axis").call(xAxis);
        };
        return axis;
    }


    function xScale(uiConfig) {
        function lengthOf(domain, timeInterval) {
            var count = 0;
            var from = domain[0];
            var to = domain[1];
            while (from < to) {
                count++;
                from = timeInterval.offset(from, 1)
            }

            var millisInOneInterval = timeInterval.offset(from, 1) - from;
            var remainder = (to - from) / millisInOneInterval;

            return count + remainder;
        }

        var timeInterval = d3.time["day"];
        var x = d3.time.scale().nice().rangeRound([0, uiConfig.width]);
        x.update = function(update) {
            x.domain([update.minX, timeInterval.offset(update.maxX, 1)]);
            x.amountOfValues = lengthOf(x.domain(),timeInterval);
        };
        var notifyListeners = observable(x);
        x.setDomain = function(extent) {
            x.amountOfValues = lengthOf(extent, timeInterval);
            x.domain(extent);

            notifyListeners();
        };
        return x;
    }

    function yScale(uiConfig) {
        var y = d3.scale.linear().range([uiConfig.height, 0]);
        y.update = function(update) {
            y.domain([update.minY, update.maxY]);
        };
        return y;
    }


    function stackedData(rawCsv) {
        var dateFormat = d3.time.format("%d/%m/%Y");
        var originalData = d3.csv.parse(rawCsv);
        originalData = d3.nest().key(function(d) { return d["category"]; }).entries(originalData)
                .map(function (entry) {
                    return entry.values.map(function (d) {
                        return {
                            x: dateFormat.parse(d.date),
                            y: parseInt(d["value"]),
                            category: d["category"],
                            y0: 0
                        };
                    });
                });
        var data;
        var dataStacked;
        var minX;
        var maxX;
        var minY = 0;
        var maxY;
        function updateWith(newData) {
            data = newData;
            dataStacked = d3.layout.stack()(data);
            minX = d3.min(data, function(d) {
                return d3.min(d, function(dd) {
                    return dd.x;
                });
            });
            maxX = d3.max(data, function(d) {
                return d3.max(d, function(dd) {
                    return dd.x;
                });
            });
            maxY = d3.max(dataStacked, function(layer) {
                return d3.max(layer, function(d) {
                    return d.y0 + d.y;
                });
            });
        }
        updateWith(originalData);


        var f = function() {};
        var notifyListeners = observable(f);
        f.sendUpdate = function() {
            notifyListeners({
                data: data,
                dataStacked: dataStacked,
                minX: minX,
                maxX: maxX,
                minY: minY,
                maxY: maxY
            });
        };
        f.useCategories = function(categories) {
            updateWith(
                    originalData.map(function(it) {
                        return (categories.indexOf(it[0]["category"]) != -1) ? it : null;
                    }).filter(function(it) { return it != null; })
            );
            f.sendUpdate();
        };

        return f;
    }



</script>
</body>