<!DOCTYPE html>
<meta charset="utf-8">
<style>
    body {
        background: #f2f2f2;
        margin: 30px;
        font: 10px sans-serif;
        font-family: 'Lucida Grande','Calibri',Helvetica,Arial,sans-serif;
    }
    .node {
        stroke: #fff;
        stroke-width: 1.5px;
    }
    .link {
        stroke: #999;
        stroke-opacity: .6;
    }
    div.tooltip {
        position: absolute;
        text-align: center;
        height: auto;
        padding: 5px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0;
        border-radius: 8px;
        pointer-events: none;
    }
    div.selectedNodesLabel {
        position: absolute;
        text-align: left;
        height: auto;
        padding: 5px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0;
        border-radius: 8px;
        pointer-events: none;
    }
</style>
<body>
<script src="d3.v3.min.js"></script>
<span id="files-in-same-commit-graph"></span>
<script>

const graph = {
/*data_placeholder*/
    "nodes": [{"name": "Stefan Birkner", "group": 1},
        {"name": "dsaff <dsaff>", "group": 1},
        {"name": "kbeck <kbeck>", "group": 1},
        {"name": "David Saff", "group": 1},
        {"name": "Stephen Connolly", "group": 1},
        {"name": "egamma <egamma>", "group": 1},
        {"name": "Tibor Digana", "group": 1},
        {"name": "James Abley", "group": 1},
        {"name": "rodolfoliviero", "group": 1},
        {"name": "Daniel Rothmaler", "group": 1},
        {"name": "KentBeck", "group": 1},
        {"name": "Alistair A. Israel", "group": 1},
        {"name": "Matthew Farwell", "group": 1},
        {"name": "Paul Holser", "group": 1},
        {"name": "Esko Luontola", "group": 1},
        {"name": "acknowledgements.txt", "group": 2},
        {"name": "Theories.java", "group": 2},
        {"name": "BlockJUnit4ClassRunner.java", "group": 2},
        {"name": "Parameterized.java", "group": 2},
        {"name": "AllTests.java", "group": 2},
        {"name": "StubbedTheories.java", "group": 2},
        {"name": "ParallelComputer.java", "group": 2},
        {"name": "pom.xml", "group": 2},
        {"name": "TestMethod.java", "group": 2},
        {"name": "JUnit4ClassRunner.java", "group": 2},
        {"name": "Version.java", "group": 2},
        {"name": "TestRunner.java", "group": 2},
        {"name": "TestWatchman.java", "group": 2},
        {"name": "build.xml", "group": 2}],
    "links": [{"source": 0, "target": 15, "value": 19},
        {"source": 1, "target": 16, "value": 12},
        {"source": 1, "target": 17, "value": 11},
        {"source": 1, "target": 18, "value": 10},
        {"source": 2, "target": 19, "value": 9},
        {"source": 1, "target": 20, "value": 9},
        {"source": 3, "target": 21, "value": 9},
        {"source": 4, "target": 22, "value": 9},
        {"source": 1, "target": 23, "value": 8},
        {"source": 1, "target": 24, "value": 8},
        {"source": 3, "target": 25, "value": 8},
        {"source": 5, "target": 26, "value": 7},
        {"source": 3, "target": 27, "value": 7},
        {"source": 3, "target": 28, "value": 7},
        {"source": 1, "target": 19, "value": 13},
        {"source": 2, "target": 26, "value": 6},
        {"source": 2, "target": 16, "value": 5},
        {"source": 2, "target": 18, "value": 5},
        {"source": 2, "target": 17, "value": 5},
        {"source": 2, "target": 23, "value": 4},
        {"source": 2, "target": 24, "value": 4},
        {"source": 6, "target": 22, "value": 3},
        {"source": 7, "target": 21, "value": 2},
        {"source": 8, "target": 15, "value": 2},
        {"source": 9, "target": 15, "value": 2},
        {"source": 2, "target": 20, "value": 1},
        {"source": 10, "target": 25, "value": 1},
        {"source": 11, "target": 25, "value": 1},
        {"source": 9, "target": 25, "value": 1},
        {"source": 10, "target": 27, "value": 1},
        {"source": 11, "target": 28, "value": 1},
        {"source": 9, "target": 28, "value": 1},
        {"source": 12, "target": 28, "value": 1},
        {"source": 13, "target": 15, "value": 1},
        {"source": 14, "target": 15, "value": 1}]
        /*data_placeholder*/
};
var projectName = /*project_name_placeholder*/"junit"/*project_name_placeholder*/;

function createForcesGraphOn(elementId, graph) {
    function QuickFind(size) {
        this.size = size;
        this.connections = new Array(size);
        for (var i = 0; i < this.connections.length; i++) {
            this.connections[i] = i;
        }
    }
    QuickFind.prototype.connect =  function(p1, p2) {
        var p1Root = this.rootOf(this.connections[p1]);
        var p2Root = this.rootOf(this.connections[p2]);
        for (var i = 0; i < this.connections.length; i++) {
            if (this.connections[i] == p1Root) this.connections[i] = p2Root;
        }
    };
    QuickFind.prototype.rootOf = function(p) { return this.connections[p] == p ? p : this.rootOf(this.connections[p]); };
    QuickFind.prototype.areConnected = function(p1, p2) { return this.connections[p1] == this.connections[p2]; };
    const quickFind = new QuickFind(graph.nodes.length);
    graph.links.forEach(function (link) {
        quickFind.connect(link.source, link.target);
    });


    var width = 1100,
        height = 700;

    var color = d3.scale.category20();

    var force = d3.layout.force()
            .charge(-120)
            .linkDistance(30)
            .size([width, height]);

    var rootElement = d3.select("#" + elementId);

    var header = appendBlockElementTo(rootElement, width);
    header.append("h2").text("Comitters changing same files graph (" + projectName + ")").style({"text-align": "center"});

    var svg = rootElement.append("svg")
            .attr("width", width).attr("height", height);
    var svgPos = svg[0][0].getBoundingClientRect();

    svg.append("rect")
            .attr("width", width).attr("height", height)
            .style({fill: "none", stroke: "#AAAAAA"});

    force.nodes(graph.nodes)
            .links(graph.links)
            .start();

    var link = svg.selectAll(".link")
            .data(graph.links)
            .enter().append("line")
            .attr("class", "link")
            .style("stroke-width", function (d) {
                return Math.sqrt(d.value);
            });

    var tooltip = rootElement.append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);
    var selectedNodesLabel = rootElement.append("div")
            .attr("class", "selectedNodesLabel")
            .style("position", "absolute")
            .style("left", svgPos.left + 3 + "px")
            .style("top", svgPos.top + 3 + "px")
            .style("opacity", 0);
    if (graph.nodes.length == 0)
        rootElement.append("div")
                .attr("class", "tooltip")
                .html("Unfortunately, there is nothing to show.<br/>It looks like there are no files commited at the same time very often.")
                .style("position", "absolute")
                .style("top", function (){ return svgPos.top + (svgPos.height / 2) - (this.offsetHeight / 2) + "px"; })
                .style("left", function (){ return svgPos.left + (svgPos.width / 2) - (this.offsetWidth / 2) + "px"; });


    var handledByNode = false;
    var node = svg.selectAll(".node")
            .data(graph.nodes)
            .enter().append("circle")
            .attr("class", "node")
            .attr("r", function(d){ return d.selected ? 7 : 5; })
            .style("fill", function (d) { return color(d.group); })
            .call(force.drag)
            .on("mouseover", function(d) {
                tooltip.html(d.name)
                        .style("opacity", .9)
                        .style("position", "absolute")
                        .style("left", svgPos.left + parseInt(d.x + 18) + "px")
                        .style("top", svgPos.top + parseInt(d.y - 12) + "px");
            })
            .on("mouseout", function(d) {
                tooltip.style("opacity", .0);
            })
            .on("click", function (d) {
                var connectedNodes = graph.nodes.filter(function(eachNode) { return quickFind.areConnected(eachNode.index, d.index); });
                updateSelection(connectedNodes);

                handledByNode = true;
            });
    svg.on("click", function () {
        if (handledByNode) {
            handledByNode = false;
            return;
        }
        updateSelection([]);
    });

    force.on("tick", function () {
        link.attr("x1", function (d) { return d.source.x; })
                .attr("y1", function (d) { return d.source.y; })
                .attr("x2", function (d) { return d.target.x; })
                .attr("y2", function (d) { return d.target.y; });
        node.attr("cx", function (d) { return d.x; })
                .attr("cy", function (d) { return d.y; });
    });


    function updateSelection(selectedNodes) {
        graph.nodes.forEach(function (eachNode) { eachNode.selected = false; });
        selectedNodes.forEach(function (eachNode) { eachNode.selected = true; });
        node.data(graph.nodes).attr("r", function(d){ return d.selected ? 7 : 5; });

        selectedNodesLabel
                .html(selectedNodes.map(function (d) { return d.name; }).sort().join("<br/>"))
                .style("opacity", (selectedNodes.length > 0 ? 1 : 0));
    }

    function appendBlockElementTo(element, width) {
        return element.append("span").style({float: "left", display: "block", width: width + "px"});
    }
}

createForcesGraphOn("files-in-same-commit-graph", graph);

</script>
</body>