<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script src="d3.v2.min.js"></script>
    <script src="d3.layout.min.js"></script>
    <style type="text/css">
        body {
            overflow: hidden;
            margin: 30px;
            font: 10px sans-serif;
            font-family: 'Lucida Grande','Calibri',Helvetica,Arial,sans-serif;
            background: #f2f2f2;
        }

        .chart {
            display: block;
            margin: auto;
            margin-top: 40px;
        }

        text {
            font-size: 14px;
        }

        rect {
            fill: none;
        }

        div.tooltip {
            position: absolute;
            text-align: center;
            height: 15px;
            padding: 5px;
            font: 12px sans-serif;
            background: lightsteelblue;
            border: 0;
            border-radius: 8px;
            pointer-events: none;
        }
        #footer {
            z-index: 1;
            font-size: 24px;
            font-weight: 300;
            text-shadow: 0 1px 0 #fff;
            text-align: right;
        }
        .hint {
            font-size: 12px;
            color: #999;
        }

    </style>
</head>
<head><title>Change size treemap</title></head>
<body>
<div id="body">
    <span id="treemap"></span>
</div>
<script type="text/javascript">
    var root = /*data_placeholder*/
            {"name": "", "size": "327", "children": [
                {"name": "intellij-eval-plugins/project-treemap", "size": "327", "children": [
                    {"name": "plugin", "size": "2", "children": [
                        {"name": "plugin2", "size": "2", "children": []},
                        {"name": "plugin2", "size": "2", "children": []}
                    ]},
                    {"name": "plugin2", "size": "2", "children": []},
                    {"name": "plugin2", "size": "2", "children": []},
                    {"name": "plugin2", "size": "2", "children": []},
                    {"name": "plugin2", "size": "2", "children": []},
                    {"name": "plugin2", "size": "2", "children": []},
                    {"name": "plugin2", "size": "2", "children": []},
                    {"name": "plugin2", "size": "2", "children": []},
                    {"name": "plugin2", "size": "2", "children": []},
                    {"name": "ProjectTreeMap", "size": "1228", "children": []},
                    {"name": "http", "size": "198", "children": [
                        {"name": "Util", "size": "21", "children": []},
                        {"name": "SimpleHttpServer", "size": "77", "children": []}
                    ]}
                ]}
            ]}
    /*data_placeholder*/;
    var projectName = /*project_name_placeholder*/"some project"/*project_name_placeholder*/;

    createTreeMapOn("treemap", root, projectName);

    function createTreeMapOn(elementId, root, projectName) {
        var w = 1280 - 80,
            h = 800 - 180,
            x = d3.scale.linear().range([0, w]),
            y = d3.scale.linear().range([0, h]),
            color = d3.scale.category20c();

        var rootElement = d3.select("#" + elementId);

        var chart = rootElement.append("div")
                .attr("class", "chart")
                .style("width", w + "px")
                .style("height", h + "px");

        var header = appendBlockElementTo(chart, w);
        header.append("h2").text("Change size treemap (" + projectName + ")")
                .style("text-align", "center")
                .style("margin-bottom", "30px");

        var svg = chart.append("svg:svg")
                .attr("width", w)
                .attr("height", h)
                .append("svg:g");
        var svgPos = svg[0][0].getBoundingClientRect();

        var footer = appendBlockElementTo(chart, w).attr("id", "footer");
        var packageNameLabel = footer.append("div");
        footer.append("div").attr("class", "hint").html("click or alt+click to descend or ascend");

        var tooltip = rootElement.append("div")
                .attr("class", "tooltip")
                .style("opacity", 0.9)
                .style("visibility", "hidden");

        var treemap = d3.layout.treemap()
                .round(true)
                .size([w, h])
                .value(function(d) { return d.size; });

        root["parent"] = root;
        addReferencesToParent(root);

        showTreemapForChildrenOf(root);

        function showTreemapForChildrenOf(node) {
            var shallowNode = copyWithoutChildrenOfChildren(node);
            var nodes = treemap.nodes(shallowNode).filter(
                    // remove root node because it's visible in background
                    function(d) { return d != shallowNode; }
            );

            svg.selectAll("g").remove();

            var cell = svg.selectAll("g")
                    .data(nodes)
                    .enter().append("svg:g")
                    .attr("class", "cell")
                    .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
                    .on("click", function(d) {
                        tooltip.style("visibility", "hidden");

                        var shouldGoToParent = d3.event.altKey;
                        if (shouldGoToParent) {
                            showTreemapForChildrenOf(d.originalNode.parent.parent);
                        } else if (d.originalNode.children.length > 0) {
                            showTreemapForChildrenOf(d.originalNode);
                        }
                    });

            cell.append("svg:rect")
                    .attr("width", function(d) { return d.dx - 1; })
                    .attr("height", function(d) { return d.dy - 1; })
                    .style("fill", function(d) { return color(d.name); })
                    .on("mouseover", function(d) {
                        if (d.hasLabel) return;
                        tooltip.html(d.name + "<br/>(" + d.size + ")")
                                .style("visibility", "visible")
                                .style("height", "auto")
                                .style("position", "absolute")
                                .style("left", (svgPos.left + d.x + (d.dx / 2) - (tooltip[0][0].offsetWidth / 2)) + "px")
                                .style("top", (svgPos.top + d.y + (d.dy / 2) - (tooltip[0][0].offsetHeight / 2)) + "px");
                    })
                    .on("mouseout", function(d) {
                        if (d.hasLabel) return;
                        tooltip.style("visibility", "hidden");
                    });

            var rememberIfLabelVisible = function (rect, textFits) {
                if (!textFits) {
                    rect.hasLabel = false;
                } else if (rect.hasLabel == null) {
                    rect.hasLabel = true;
                }
                return textFits;
            };

            cell.append("svg:text")
                    .attr("x", function(d) { return d.dx / 2; })
                    .attr("y", function(d) { return d.dy / 2; })
                    .attr("dy", ".35em")
                    .attr("text-anchor", "middle")
                    .text(function(d) { return d.name; })
                    .style("visibility", function(d) {
                        return rememberIfLabelVisible(d, textFitsInto(d, this)) ? "visible" : "hidden";
                    });

            cell.append("svg:text")
                    .attr("x", function(d) { return d.dx / 2; })
                    .attr("y", function(d) { return d.dy / 2; })
                    .attr("dy", "1.75em")
                    .attr("text-anchor", "middle")
                    .text(function(d) { return "(" + d.size + ")"; })
                    .style("opacity", "0.5")
                    .style("visibility", function(d) {
                        return rememberIfLabelVisible(d, textFitsInto(d, this)) ? "visible" : "hidden";
                    });


            packageNameLabel.text(formatPackageName(fullNameOf(node)));
        }

        function textFitsInto(rect, extent) {
            return rect.dx > extent.getComputedTextLength() && rect.dy > extent.getExtentOfChar().height;
        }

        function copyWithoutChildrenOfChildren(node) {
            var shallowCopyOfChildren = node.children.map(function (child) { return copyOf(child, []); });
            return copyOf(node, shallowCopyOfChildren);
        }

        function copyOf(node, nodeChildren) {
            return {
                name: node.name,
                size: node.size,
                children: nodeChildren,
                originalNode: node
            };
        }

        function addReferencesToParent(node) {
            if (node["children"] != null) {
                node.children.forEach(function(child) {
                    child["parent"] = node;
                    addReferencesToParent(child);
                });
            }
        }

        function fullNameOf(node) {
            if (node.parent == node) return node.name;
            else return fullNameOf(node.parent) + "." + node.name;
        }

        function formatPackageName(packageName) {
            if (packageName.indexOf(".") == 0) return packageName.substr(1);
            else if (packageName == "") return "[project root]";
            else return packageName;
        }

        function appendBlockElementTo(element, width) {
            return element.append("span")
                    .style("float", "left").style("display", "block").style("width", width + "px");
        }
    }

</script>
</body>
</html>
