<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="description" content="{{project-name}} code history"/>

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{project-name}} code history</title>
    <!--style-insert-point-->
</head>

<body>
<!-- HEADER -->
<div id="header_wrap_lowered" class="outer" style="max-height: 120px">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/dkandalov/code-history-mining">View on GitHub</a>
        <h1 id="project_title">{{project-name}} code history</h1>
        <h2 id="project_tagline"></h2>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <p>{{overview-text}}</p>
        <!--tag-insert-point-->
    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a>.</p>
        <p class="copyright">Feel free to <a href="https://twitter.com/dmitrykandalov">drop me a line</a>
            or <a href="https://github.com/dkandalov/code-history-mining/issues">create an issue</a> on GitHub.
        </p>
    </footer>
</div>

<script src="d3.v3.min.js"></script>
<script src="d3.layout.cloud.js"></script>
<script src="underscore-min.js"></script>
<script src="code-history.js"></script>
<script src="stacked-barchart.js"></script>
<!--script-insert-point-->

</body>
</html>
