<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="description" content="{{project-name}} code history"/>

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{project-name}} code history</title>
    <!--style-insert-point-->
</head>

<body>
<!-- HEADER -->
<div id="header_wrap" class="outer" style="max-height: 120px">
    <header class="inner">
        <h1 id="project_title">{{project-name}} code history</h1>
        <h2 id="project_tagline"></h2>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <!--tag-insert-point-->
    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
    </footer>
</div>

<script src="d3.v3.min.js"></script>
<script src="d3.layout.cloud.js"></script>
<script src="code-history.js"></script>
<!--script-insert-point-->

</body>
</html>
