<!DOCTYPE html>
<meta charset="utf-8">
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: auto;
        position: relative;
        width: 960px;
        background: #f2f2f2;
    }

    text, label {
        font: 11px sans-serif;
        font-family: 'Lucida Grande','Calibri',Helvetica,Arial,sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    form {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .brush .extent {
        stroke: #fff;
        fill-opacity: .125;
        shape-rendering: crispEdges;
    }

    .legend .box {
        fill: #f9f9f9;
        stroke: black;
        opacity: 0.8;
    }
    .legend .items {
        font-size: 12px;
    }
</style>
<body>
<script src="d3.v3.min.js"></script>
<script src="underscore-min.js"></script>
<script src="stacked-barchart.js"></script>
<script>
    var rawData = /*data_placeholder*/["\
date,category,value\n\
18/01/2013,Mee,18\n\
19/01/2013,Mee,5\n\
20/01/2013,Mee,3\n\
21/01/2013,Mee,3\n\
22/01/2013,Mee,3\n\
18/01/2013,Ooo,18\n\
19/01/2013,Ooo,3\n\
21/01/2013,Ooo,11\n\
22/01/2013,Ooo,11\n\
20/01/2013,Ooo,11\n\
18/01/2013,GGG,11\n\
19/01/2013,GGG,11\n\
20/01/2013,GGG,11\n\
21/01/2013,GGG,11\n\
22/01/2013,GGG,11\n\
",
"date,category,value\n\
18/01/2013,Mee,180\n\
19/01/2013,Mee,50\n\
20/01/2013,Mee,30\n\
21/01/2013,Mee,3\n\
22/01/2013,Mee,50\n\
18/01/2013,Ooo,180\n\
19/01/2013,Ooo,30\n\
20/01/2013,Ooo,110\n\
21/01/2013,Ooo,110\n\
22/01/2013,Ooo,110\n\
18/01/2013,GGG,110\n\
19/01/2013,GGG,110\n\
20/01/2013,GGG,110\n\
21/01/2013,GGG,110\n\
22/01/2013,GGG,110\n\
",
"date,category,value\n\
18/01/2013,Mee,0\n\
19/01/2013,Mee,500\n\
20/01/2013,Mee,300\n\
21/01/2013,Mee,300\n\
22/01/2013,Mee,300\n\
18/01/2013,Ooo,1008\n\
19/01/2013,Ooo,300\n\
21/01/2013,Ooo,1100\n\
22/01/2013,Ooo,1100\n\
20/01/2013,Ooo,1100\n\
18/01/2013,GGG,1100\n\
19/01/2013,GGG,1100\n\
20/01/2013,GGG,1100\n\
21/01/2013,GGG,1100\n\
22/01/2013,GGG,1100\n\
"
]/*data_placeholder*/;
    var margin = {top: 40, right: 50, bottom: 20, left: 50};
    var uiConfig = {
        width: 960 - margin.left - margin.right,
        height: 500 - margin.top - margin.bottom,
        margin: margin
    };
    var brushHeight = 50;
    var xAxisHeight = 30;

    var root = d3.select("body");
    var svg = root.append("svg")
            .attr("width", uiConfig.width + uiConfig.margin.left + uiConfig.margin.right)
            .attr("height", uiConfig.height + uiConfig.margin.top + uiConfig.margin.bottom + brushHeight + xAxisHeight)
            .append("g")
            .attr("transform", "translate(" + uiConfig.margin.left + "," + uiConfig.margin.top + ")");

    var data = newStackedData(rawData);
    var x = newXScale(uiConfig);
    var y = newYScale(uiConfig);
    var bars = newBars(svg, uiConfig, x, y);
    var xAxis = newXAxis(svg, uiConfig, x);
    var yAxis = newYAxis(svg, "Change size", y);
    var xBrush = newXBrush(svg, uiConfig, x, brushHeight);

    var controlsPanel = newControlsPanel(root, uiConfig);
    newGroupByDropDown(controlsPanel, data, "Group by: ", ["day", "week", "month"]);
    controlsPanel.addSpace();
    newGroupIndexDropDown(controlsPanel, data, "Change size measured in: ", ["files", "lines", "characters"])

    var legend = newLegend(svg, uiConfig);
    bars.onUpdate(legend.update);

    data.onUpdate([x.update, y.update, bars.update, xAxis.update, yAxis.update, xBrush.update]);
    x.onUpdate([bars.onXScaleUpdate, xAxis.onXScaleUpdate]);
    data.sendUpdate();

    // based on https://gist.github.com/ZJONSSON/3918369
    function newLegend(root, uiConfig) {
        var it = {};
        it.update = function(items) {
            items = _.clone(items).reverse();

            // always redraw legend so that it would be above graph
            root.select(".legend").remove();
            var legend = root.append("g").attr("class", "legend")
                .attr("transform", "translate(" + (uiConfig.width - 50) + ",20)");

            var box = legend.append("rect").attr("class", "box");
            var itemList = legend.append("g").attr("class", "items");

            itemList.selectAll("text")
                    .data(items)
                    .call(function(d) { d.enter().append("text") })
                    .attr("y", function(d, i) { return i + "em"; })
                    .attr("x", "1em")
                    .text(function(d) { return d.category; });

            itemList.selectAll("circle")
                    .data(items)
                    .call(function(d) { d.enter().append("circle") })
                    .attr("cy", function(d, i) { return i - 0.4 + "em"; })
                    .attr("cx", 0)
                    .attr("r", "0.4em")
                    .style("fill",function(d) { return d.color; });

            var legendPadding = 5;
            var itemListBox = itemList[0][0].getBBox();
            box.attr("x", itemListBox.x - legendPadding)
               .attr("y", itemListBox.y - legendPadding)
               .attr("height", itemListBox.height + 2 * legendPadding)
               .attr("width", itemListBox.width + 2 * legendPadding);
        };
        return it;
    }
</script>
</body>